<div class="row">
  <div class="container-fluid">
    <div class="jumbotron">
      <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="display-3">Create Todos!</h1>
            <p class="lead">This is a simple TODO applicaiton</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-new></app-new>
<div *ngIf="todos">
  <div class="row">
    <div class="col-md-4" *ngFor="let todo of todos" [ngClass]="{true: 'todo', false: 'danger'}[todo.status]">
      <div class="card m-3 p-3">
        <h4><strong>{{todo.title}}</strong></h4>
      </div>
    </div>
  </div>
</div>